{% extends "::base.html.twig" %}

{% block javascripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="http://aloha-editor.org/aloha-0.9.3/aloha/aloha.js"></script>
    <script src="http://aloha-editor.org/aloha-0.9.3/aloha/plugins/com.gentics.aloha.plugins.Format/plugin.js"></script>
    <script src="http://aloha-editor.org/aloha-0.9.3/aloha/plugins/com.gentics.aloha.plugins.HighlightEditables/plugin.js"></script>
    <script src="/bundles/liipvie/js/vie/underscore-min.js"></script>
    <script src="/bundles/liipvie/js/vie/backbone-min.js"></script>
    <script src="/bundles/liipvie/js/vie/vie.js"></script>
    <script src="/bundles/liipvie/js/vie/vie-containermanager.js"></script>
    <script src="/bundles/liipvie/js/vie/vie-collectionmanager.js"></script>
    <script src="/bundles/liipvie/js/vie/vie-aloha.js"></script>

{% endblock javascripts %}

{% block body %}

    <h1>Vie Application</h1>

    <p>Click on the content below to edit it, then <button id="savebutton">Save</button>.</p>

    {% block content %}{% endblock %}

{% endblock %}
