{% extends "LiipHelloBundle::layout.html.twig" %}

{% block content %}

    <form action="{{ path('liip_hello_r3st_post_articles') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>

{% endblock content %}
