{% extends "LiipHello::layout.html.twig" %}

{% block content %}

    {{ facebook_initialize({'xfbml': true}) }}

    {{ facebook_login_button({'autologoutlink': true}) }}

    {% if app.user %}

        {{ app.user.fullName }}

    {% else %}

        <a href="{{ path('hello_facebook_check') }}">login</a>

    {% endif %}

{% endblock content %}
