{% extends "LiipHelloBundle::layout.html.twig" %}

{% block content %}

    Imagine you have text like this
    <div style="width: 100px; border-style:solid; border-width:medium;">
    {{ "We have some really long words in german like sauerstofffeldflasche." }}
    </div>

    Wouldn't it be great to get it all with nice automatic soft-dashes?
    <div style="width: 100px; border-style:solid; border-width:medium;">
    {{ "We have some really long words in german like sauerstofffeldflasche."|hyphenate }}
    </div>

    Here is the actual source code that was generated:
    <div>
    {{ "We have some really long words in german like sauerstofffeldflasche."|hyphenate|escape }}
    </div>

{% endblock content %}
