{% extends "LiipHelloBundle::layout.html.twig" %}

{% block content %}

    <div>
        original:<br>
        <img src="{{ app.request.getBasePath() ~ '/bundles/liiphello/images/image_test.jpg' }}"/>
    </div>

    <div>
        LiipImagineBundle:<br>
        {{ '/bundles/liiphello/images/image_test.jpg' | imagine_filter('my_thumb') }}
    </div>

    <div>
        LiipImagineBundle in action:<br>
        <img src="{{ '/bundles/liiphello/images/image_test.jpg' | imagine_filter('my_thumb') }}" />
    </div>


{% endblock content %}
