{% extends "LiipHelloBundle::layout.html.twig" %}

{% block content %}
    Choose theme:
    <form>
        <select id="cookie"
                onChange="if (!this.value) { return false }; var now = new Date(); document.cookie = 'device='+this.value+''; expires=''+new Date(now.getTime() + 1000).toGMTString()+';'; window.location.reload();">
            <option value="">choose</option>
            <option value="desktop">desktop</option>
            <option value="tablet">tablet</option>
            <option value="phone">phone</option>
        </select>
    </form>

    <h1>Hello {{ name }}!</h1>

    {%  set sometext = "sometext to find a url like www.liip.ch and email like foo@bar.com inside" %}

    <h2>Converting:</h2>

    {{ sometext }}

    <h2>To the following using LiipUrlAutoConverterBundle:</h2>
    {{ sometext | converturls }}

{% endblock content %}
